<% include ../shared/header %>

<div class="row">
<div class="col col-md-4">
   <form action="" method="post">
       <div class="form-group">
       <label for="title">Title</label>
       <input type="text" name="title" id="title" value="" class="form-control">
       </div>
       <div class="form-group">
       <label for="description">Description</label>
       <textarea rows="" cols="" name="description" id="description" value="" class="form-control"></textarea> 
       </div>
       <div class="form-group">
       <label for="resourceUrl">Resource URL</label>
       <input type="text" name="resourceUrl" id="resourceUrl" value="" class="form-control">
       </div>
       <button type="submit" class="btn btn-primary">Add</button>
   </form>
    </div>
    </div>
    <%include ../shared/footer%>